---
import Article, { type ArticleProps } from '../components/Article.astro';
import Layout from '../layouts/Layout.astro';

const bullishCandlesImages = import.meta.glob<{default: ImageMetadata}>('/src/assets/images/bullish-candles/*.{jpeg,jpg,png,gif}')

const ARTICLES: ArticleProps[] = [
	{
		title: 'Bullish Candles',
		images: bullishCandlesImages,
	}
]

---

<Layout title="Cheat Sheet">
	<main class="h-screen w-screen flex flex-col items-center justify-center ">
		{
			ARTICLES.map((article, index) => (
				<Article key={index} {...article} />
			))
		}
	</main>
</Layout>


